@import (reference) "../../variables.less";

.search {
    height: 100%;
    background-color: @light-grey;
    padding: 30px;
    width: 50vw;
    float: left;
    margin: 0;

    i {
        font-size: 50px;
        color: @medium-grey;
        float: left;
        font-size: 30px;
        padding: 0 10px;
    }

    input {
        height: 100%;
        border: none;
        font-size: 20px;
        background-color: transparent;
        float: left;
        width: 35vw;
        color: @dark-grey;
    }

    input:focus {
        outline: none;
    }

    .results {
        position: absolute;
        top: @nav-height;
        width: 100%;
        background-color: @dark-grey;
        z-index: 5;
        left: 0;

        .result {
            display: block;
            font-size: 25px;
            color: #fff;
            border-bottom: solid 1px @light-grey;

            span {
                display: block;
            }

            .author {
                font-size: 20px;
            }

            img {
                width: 50px;
                float: left;
                padding: 5px;
            }
        }
    }
}
