@import (reference) "../../variables.less";

.search {
    height: 100%;
    background-color: @light-grey;
    padding: 30px;
    width: 50vw;
    float: left;
    margin: 0;

    i {
        font-size: 50px;
        color: @medium-grey;
        float: left;
        font-size: 30px;
        padding: 0 10px;
    }

    input {
        height: 100%;
        border: none;
        font-size: 20px;
        background-color: transparent;
        float: left;
        width: 35vw;
        color: @dark-grey;
    }

    input:focus {
        outline: none;
    }
}
